# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# hexdoc
_site/
_checkout/
__gradle_version__.py
.hexdoc*/
.env
.venv/
__pycache__/
*.egg-info/

dist/
